.error {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.error h1 {
	color: var(--accent-color);
	font-size: 95px;
	margin-top: 220px;
	margin-bottom: 145px;
}

.error h3 {
	color: var(--primary-color);
	margin: 15px;
}

.button {
	margin: 105px;
}
