.container {
	padding-top: 78px;
}
.about {
	margin: 85px 65px;
}
.container h1 {
	font-size: 52px;
	margin: 24px;
	color: var(--accent-color);
}
.container h2 {
	font-size: 30px;
	margin: 54px;
	color: var(--primary-color);
}
.container h2 span {
	font-size: 48px;
	margin: 24px;
	color: red;
}
.container h3 {
	font-size: 52px;
	text-transform: uppercase;
	color: var(--accent-color);
	margin: 24px;
}

@media screen and (max-width: 768px) {
	.container {
		padding-top: 20px;
	}

	.about {
		margin: 0;
	}
	.container h1,
	.container h2,
	.container h2 span,
	.container h3 {
		font-size: 25px;
	}
}
@media screen and (max-width: 480px) {
	.container {
		padding: 0;
	}

	.about {
		margin: 0;
	}

	.container h1,
	.container h2,
	.container h2 span,
	.container h3 {
		font-size: 20px;
		margin: 20px;
	}
}
