.container {
	height: 250px;
	background-color: var(--main-bg-color);
	border-top: var(--border);
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
	padding: 50px;
}
.container h2 {
	color: var(--primary-color);
	font-size: 32px;
	margin-bottom: 3px;
}
.container span {
	color: var(--accent-color);
}
.container p {
	margin-bottom: 18px;
}

.card {
	margin-left: 20px;
	text-align: center;
}
.media {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.media img {
	cursor: pointer;
}
.media img:hover {
	transform: scale(0.9);
}
.cardItem {
	margin: 15px 0;
}
@media screen and (max-width: 480px) {
	.container {
		height: auto;
		flex-direction: column;
		padding: 5px;
		padding-top: 15px;
		font-size: 14px;
	}
	.card {
		margin: 10px 0px;
	}
}
