.container {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: hidden;
	position: relative;
}

.card {
	flex: 1;
	padding: 100px;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}
.title {
	color: var(--primary-color);
	font-size: 45px;
}
.brand {
	color: var(--accent-color);
}
.slogan {
	color: var(--text-color);
	margin-left: 24px;
}
.description {
	font-size: 24px;
	color: var(--primary-color);
}

@media screen and (max-width: 480px) {
	.container {
		flex-direction: column;
	}
	.card {
		padding: 120px 40px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.title {
		font-size: 30px;
	}
	.slogan {
		display: block;
		margin: 20px 0;
	}
	.description {
		margin-bottom: 28px;
	}
}
