.container {
	height: 65px;
	background-color: var(--main-bg-color);
	border: var(--border);
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px;
	position: fixed;
	width: 100vw;
}

.container h2 {
	color: var(--primary-color);
	font-size: 22px;
	cursor: pointer;
}
.container span {
	color: var(--accent-color);
}

.listItem {
	display: inline;
	margin-right: 30px;
	cursor: pointer;
}
.listItem a {
	font-size: 17px;
	color: var(--accent-color);
}
.listItem a:hover {
	color: var(--primary-color);
	border-bottom: 4px solid var(--primary-color);
}
