.container {
	display: flex;
	padding: 120px 50px;
}

.cardlarge {
	flex: 2;
	display: flex;
	flex-wrap: wrap;
}

.cardsmall {
	flex: 1;
}

.imgContainer {
	width: 30%;
	margin: 5px;
	position: relative;
}

.imgContainer:nth-child(3) {
	border-top-right-radius: 50%;
	overflow: hidden;
}
/* .imgContainer:nth-child(6) {
	border-bottom-right-radius: 50%;
	overflow: hidden;
} */

.title {
	font-size: 60px;
	margin: 10px;
}

.desc {
	margin: 10px;
	font-size: 18px;
}

.button {
	margin-top: 50px;
}

@media screen and (max-width: 480px) {
	.container {
		flex-direction: column-reverse;
		padding: 20px;
	}

	.title {
		font-size: 35px;
	}

	.imgContainer {
		width: 300px;
		height: 300px;
	}

	.cardsmall {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.button {
		margin: 20px 0px;
	}

	.imgContainer {
		border-radius: 50%;
		overflow: hidden;
	}
}
