.container {
	height: 70vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 100px;
}

.title {
	text-align: center;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.card {
	width: 30%;
}
.comments {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
	padding-top: 20px;
}
.person {
	display: flex;
	align-items: center;
}
.avatar {
	border-radius: 50%;
}
.info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.username {
	font-weight: bold;
	color: var(--primarycolor);
}
.jobtitle {
	font-size: 15px;
}

@media screen and (max-width: 680px) {
	.container {
		height: auto;
		padding: 20px;
	}

	.title {
		font-size: 30px;
	}
	.card {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 45px;
	}
	.comments {
		font-size: 16px;
		margin: 5px;
	}
}

@media screen and (max-width: 980px) {
	.circle {
		display: none;
	}
}
